body {
    background-color: white;
}

#title {
    text-align: center;
}

#subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30em;
    margin: auto;
}

#menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 10em;
    align-items: center;
}

#menuButton {
    width: 10em;
    height: 8em;
    margin-bottom: 2em;
    text-align: center;
    
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
      
}

#boardRow {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gameInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.but {
    border: 1;
    height: 10em;
    width: 10em;
}

#playAgainButton {
    display: flex;
    margin: auto;
    visibility: hidden;
}